In [ ]:
#Q1

import pandas as pd

data = pd.Series([4, 8, 15, 16, 23, 42])
print(data)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [ ]:
#Q2

import pandas as pd

my_list = [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

series_data = pd.Series(my_list)
print(series_data)

0     1
1     3
2     5
3     7
4     9
5    11
6    13
7    15
8    17
9    19
dtype: int64

In [ ]:
#Q3

import pandas as pd

data = {
    "Name": ["Alice", "Bob", "Claire"],
    "Age": [25, 30, 27],
    "Gender": ["Female", "Male", "Female"]
}

df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [ ]:
#Q4

"""A DataFrame in Pandas is a two-dimensional, table-like data structure with labeled rows and columns, similar to an Excel spreadsheet or an SQL table.
It can hold multiple data types (integer, float, string, etc.) and is built using multiple Series.

Difference Between                     Series                            and                        DataFrame
Structure	:                      One-dimensional (like a column)    --------------	Two-dimensional (rows and columns)
Data Storage :                   Stores a single column of data     --------------	Stores multiple columns of data
Data Type	:                      Can have only one type per series  --------------	Can have different types in different columns
Example :                      	 [4, 8, 15, 16, 23, 42]	            --------------  {"Name": ["Alice", "Bob"], "Age": [25, 30]} """

In [ ]:
#Example of Pandas Series:
import pandas as pd

# Creating a Series
series_example = pd.Series([10, 20, 30, 40, 50])

print("Pandas Series:")
print(series_example)

Pandas Series:
0    10
1    20
2    30
3    40
4    50
dtype: int64

In [ ]:
# Example of DataFrame
data = {
    "Name": ["Alice", "Bob", "Claire"],
    "Age": [25, 30, 27],
    "Gender": ["Female", "Male", "Female"]
}

df = pd.DataFrame(data)

print("\nPandas DataFrame:")
print(df)

Pandas DataFrame:
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [ ]:
#Q5

"""df.head(n)	Displays the first n rows (default is 5).
df.tail(n)	Displays the last n row.
df.info()		Checking column names, data types, and missing values.
df.describe()	Generates statistics (mean, min, max, etc.) for numerical columns.
df.shape	Returns the number of rows and columns	Checking dataset size.
df.columns	Returns a list of column names.
df.dtypes	Returns data types of each column.
df.isnull().sum()	Checks for missing values in each column.
df.drop(columns=["col"])	Removes a specific column.
df.fillna(value)	Replaces missing values with a given value.
df.groupby("column").mean()	Groups data by a column and calculates the mean.
df.sort_values("column", ascending=False)	Sorts the DataFrame by a column.
df["new_col"] = df["col1"] + df["col2"]	Creates a new column.
df.apply(function, axis=1 or 0)	Applies a function to rows/columns."""

In [9]:
# Example :

import pandas as pd

data = {'Student': ['Alice', 'Bob', 'Charlie', 'David'],
        'Score': [85, 92, 78, 90]}

df = pd.DataFrame(data)
df_sorted = df.sort_values(by='Score', ascending=False)
print(df_sorted)

   Student  Score
1      Bob     92
3    David     90
0    Alice     85
2  Charlie     78

In [10]:
#Q6

"""In Pandas, Series, DataFrame, and Panel are all mutable in nature.

Series (Mutable) – The values inside a Series can be modified, but its size (length) is fixed once created.
DataFrame (Mutable) – Both the data and structure (columns, rows) of a DataFrame can be modified.
Panel (Mutable) – Before being deprecated, Panel was also mutable, similar to DataFrame."""

'In Pandas, Series, DataFrame, and Panel are all mutable in nature.\n\nSeries (Mutable) – The values inside a Series can be modified, but its size (length) is fixed once created.\nDataFrame (Mutable) – Both the data and structure (columns, rows) of a DataFrame can be modified.\nPanel (Mutable) – Before being deprecated, Panel was also mutable, similar to DataFrame.'

In [11]:
#Q7

import pandas as pd

names = pd.Series(["Annant", "Mayuri", "Aradhya", "Samarth"])
ages = pd.Series([25, 30, 22, 28])
scores = pd.Series([85, 90, 78, 88])

df = pd.DataFrame({
    'Name': names,
    'Age': ages,
    'Score': scores
})

print(df)

      Name  Age  Score
0   Annant   25     85
1   Mayuri   30     90
2  Aradhya   22     78
3  Samarth   28     88