In [ ]:
#Q1

""" A database is an organized collection of structured information or data, typically stored electronically in a computer system.
 It is usually controlled by a database management system (DBMS), which allows users to store, retrieve, manage, and manipulate the data efficiently.

 SQL : SQL databases define and manipulate data-based structured query language (SQL).
 is the programming language that’s been widely used in managing data in relational database management systems (RDBMS).
 SQL is still widely used for querying relational databases, where data is stored in rows and tables that are linked in various ways.
 One table record may link to one other or to many others, or many table records may be related to many records in another table.

SQL is a good choice when working with related data. Relational databases are efficient, flexible and easily accessed by any application.
 A benefit of a relational database is that when one user updates a specific record, every instance of the database automatically refreshes,
  and that information is provided in real-time.

 SQL databases are valuable in handling structured data, or data that has relationships between its variables and entities.

In general, SQL databases can scale vertically, meaning you can increase the load on a server by migrating to a larger server that adds more CPU, RAM or SSD capability.
While vertical scalability is used most frequently, SQL databases can also scale horizontally through sharding or partitioning logic, although that’s not well-supported.

RDBMS, which use SQL, must exhibit four properties, known by the acronym ACID.(Atomicity, Consistency, Isolation, Durability)

EX :Db2, MySQL, PostgreSQL, YugabyteDB, CockroachDB, Oracle Database, Azure SQL Database.



NOSQL :NoSQL is a non-relational database, meaning it allows different structures than a SQL database (not rows and columns) and
more flexibility to use a format that best fits the data. Unlike SQL, NoSQL systems allow you to work with different data structures within a database.
Because they allow a dynamic schema for unstructured data, there’s less need to pre-plan and pre-organize data, and it’s easier to make modifications.
 NoSQL databases allow you to add new attributes and fields, as well as use varied syntax across databases.


While SQL is valued for ensuring data validity, NoSQL is good when it’s more important that the availability of big data is fast.
NoSQL is easy-to-use, flexible and offers high performance.
NoSQL is also a good choice when there are large amounts of (or ever-changing) data sets or when working with flexible data models or needs that don’t fit into a relational model.
When working with large amounts of unstructured data, document databases

 NoSQL databases scale better horizontally, which means one can add additional servers or nodes as needed to increase load.

 NoSQL databases are not relational, so they don’t solely store data in rows and tables. Instead, they generally fall into one of four types of structures:

Column-oriented, where data is stored in cells grouped in a virtually unlimited number of columns rather than rows.
Key-value stores, This model represents data as a collection of key-value pairs.
Document stores, which use documents to hold and encode data in standard formats, including XML, YAML, JSON (JavaScript Object Notation) and BSON.
Graph databases, which represent data on a graph that shows how different sets of data relate to each other. Neo4j, RedisGraph (a graph module built into Redis) and OrientDB are examples of graph databases.
While SQL calls for ACID properties, NoSQL follows the CAP theory (Consistency, Availability, Partition tolerance)

EX: Redis, CouchDB, MongoDB, Cassandra, Elasticsearch, BigTable (link resides outside ibm.com), Neo4j, HBase

In [ ]:
# Q2

Data Definition Language : DDL is a standardized language with commands to define the storage groups (stogroups), different structures and objects in a database.
DDL statements create, modify and remove database objects.


CREATE : use For creating tables, indexes, and databases
EX: CREATE TABLE table_name (column1 data_type, column2 data_type, ...);

DROP: Delete objects from the database
EX: DROP TABLE table_name;

ALTER	: Alter the structure of the database
EX: ALTER TABLE table_name ADD COLUMN column_name data_type;

TRUNCATE :	Remove all records from a table, including all spaces allocated for the records are removed
EX: TRUNCATE TABLE table_name;

In [ ]:
# Q3

Data Manipulation Language (DML) is a subset of SQL commands used to manipulate data within a database.
DML commands allow users to insert, update, delete, and retrieve data from database tables.
These commands are essential for managing and interacting with the data stored in a database.

INSERT :	Insert data into a table
EX: INSERT INTO table_name (column1, column2) VALUES (value1, value2)

UPDATE :	Update existing data within a table
EX: UPDATE table_name SET column1 = value1, column2 = value2

DELETE :	Delete records from a database table
EX: DELETE FROM table_name

In [ ]:
# Q4

DQL statements are used for performing queries on the data within schema objects.
The purpose of the DQL Command is to get some schema relation based on the query passed to it.

SELECT : It is used to retrieve data from the database

EX: SELECT column1, column2 FROM table_name

In [ ]:
# Q5

PRIMARY KEY	:
A primary key is used to ensure data in the specific column is unique.
It uniquely identifies a record in the relational database table.
Only one primary key is allowed in a table.
It is a combination of UNIQUE and Not Null constraints.
It does not allow NULL values .It does not allow NULL values .
Its value cannot be deleted from the parent table.
It constraint can be implicitly defined on the temporary tables.

FOREIGN KEY :
A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables.
It refers to the field in a table which is the primary key of another table.
Whereas more than one foreign key is allowed in a table.
It can contain duplicate values and a table in a relational database.
It can also contain NULL values.
Its value can be deleted from the child table.
It constraint cannot be defined on the local or global temporary tables.

In [ ]:
# Q6


from mysql.connector import connection

conn = connection.MySQLConnection(user = 'username',
							host = 'localhost',
							database = 'database_name')

cursor = conn.cursor()

In [ ]:
# Q7

CREATE TABLE students (
  id INTEGER PRIMARY KEY,
  name TEXT NOT NULL,
  gender TEXT NOT NULL
);


INSERT INTO students VALUES (1, 'Ryan', 'M');
INSERT INTO students VALUES (2, 'Joanna', 'F');


SELECT * FROM students WHERE gender = 'F';