In [1]:
#Q1

# Example 1

import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
        'Age': [25, 30, 22, 28, 27],
        'Score': [85, 90, 78, 88, 92]}

df = pd.DataFrame(data)
print(df.head(3))

      Name  Age  Score
0    Alice   25     85
1      Bob   30     90
2  Charlie   22     78

In [4]:
# Example 2

df.info(data)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    5 non-null      object
 1   Age     5 non-null      int64
 2   Score   5 non-null      int64
dtypes: int64(2), object(1)
memory usage: 252.0+ bytes

In [5]:
# Example 3

print(df.describe())

            Age      Score
count   5.00000   5.000000
mean   26.40000  86.600000
std     3.04959   5.458938
min    22.00000  78.000000
25%    25.00000  85.000000
50%    27.00000  88.000000
75%    28.00000  90.000000
max    30.00000  92.000000

In [6]:
# Example 4

# Creating a DataFrame with missing values
data_with_na = {'Name': ['Alice', 'Bob', None, 'David', 'Eve'],
                'Age': [25, None, 22, 28, 27],
                'Score': [85, 90, None, 88, 92]}

df_na = pd.DataFrame(data_with_na)

# Removing rows with missing values
df_clean = df_na.dropna()

print(df_clean)

    Name   Age  Score
0  Alice  25.0   85.0
3  David  28.0   88.0
4    Eve  27.0   92.0

In [7]:
# Example 5
df_sorted = df.sort_values(by='Score', ascending=False)

print(df_sorted)

      Name  Age  Score
4      Eve   27     92
1      Bob   30     90
3    David   28     88
0    Alice   25     85
2  Charlie   22     78

In [8]:
#Q2

import pandas as pd

def reindex_dataframe(df):
    df.index = range(1, 2 * len(df), 2)  # Generate a new index sequence
    return df
data = {'A': [10, 20, 30, 40],
        'B': [50, 60, 70, 80],
        'C': [90, 100, 110, 120]}

df = pd.DataFrame(data)
df_reindexed = reindex_dataframe(df)
print(df_reindexed)

    A   B    C
1  10  50   90
3  20  60  100
5  30  70  110
7  40  80  120

In [9]:
#Q3

import pandas as pd

def sum_first_three(df):
    first_three_sum = df['Values'].iloc[:3].sum()  # Select first 3 values and sum them
    print("Sum of first three values:", first_three_sum)
data = {'Values': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)
sum_first_three(df)

Sum of first three values: 60

In [10]:
#Q4

import pandas as pd

def add_word_count_column(df):
    df['Word_Count'] = df['Text'].str.split().str.len()  # Split text and count words
    return df
data = {'Text': ["Hello world!", "Pandas is amazing", "Data Science with Python", "Short sentence"]}
df = pd.DataFrame(data)
df_with_word_count = add_word_count_column(df)
print(df_with_word_count)

                       Text  Word_Count
0              Hello world!           2
1         Pandas is amazing           3
2  Data Science with Python           4
3            Short sentence           2

In [ ]:
#Q5

"""Both size and shape are attributes of a Pandas DataFrame, but they provide different information:

df.shape	Returns a tuple representing the number of rows and columns.	(3, 4)
shape is useful when you need to know the structure of the DataFrame (number of rows and columns).

df.size	Returns the total number of elements (rows Ã— columns).	12
size gives the total number of elements, which is the product of rows and columns."""

In [ ]:
#Q6

""" To read an Excel file in Pandas, we use the pd.read_excel() function. """

In [12]:
#Q7

import pandas as pd

def extract_username(df):
    df['Username'] = df['Email'].str.split('@').str[0]  # Splitting at '@' and taking the first part
    return df
data = {'Email': ['john.doe@example.com', 'alice123@gmail.com', 'bob_smith@yahoo.com']}
df = pd.DataFrame(data)
df_with_usernames = extract_username(df)
print(df_with_usernames)

                  Email   Username
0  john.doe@example.com   john.doe
1    alice123@gmail.com   alice123
2   bob_smith@yahoo.com  bob_smith

In [13]:
#Q8

import pandas as pd

def filter_rows(df):
    filtered_df = df[(df['A'] > 5) & (df['B'] < 10)]  # Applying conditions
    return filtered_df
data = {'A': [3, 8, 6, 2, 9, 8, 9],
        'B': [5, 2, 9, 3, 1, 2, 1],
        'C': [1, 7, 4, 5, 2, 7, 2]}

df = pd.DataFrame(data)
filtered_df = filter_rows(df)
print(filtered_df)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2
5  8  2  7
6  9  1  2

In [14]:
#Q9

import pandas as pd

def calculate_statistics(df):
    mean_value = df['Values'].mean()
    median_value = df['Values'].median()
    std_dev = df['Values'].std()

    print(f"Mean: {mean_value}")
    print(f"Median: {median_value}")
    print(f"Standard Deviation: {std_dev}")

data = {'Values': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)
calculate_statistics(df)

Mean: 30.0
Median: 30.0
Standard Deviation: 15.811388300841896

In [15]:
#Q10

import pandas as pd

def calculate_moving_average(df):
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
    return df

data = {'Date': pd.date_range(start='2024-03-01', periods=10, freq='D'),
        'Sales': [100, 200, 150, 300, 250, 400, 350, 500, 450, 600]}

df = pd.DataFrame(data)
df_with_moving_avg = calculate_moving_average(df)
print(df_with_moving_avg)

        Date  Sales  MovingAverage
0 2024-03-01    100     100.000000
1 2024-03-02    200     150.000000
2 2024-03-03    150     150.000000
3 2024-03-04    300     187.500000
4 2024-03-05    250     200.000000
5 2024-03-06    400     233.333333
6 2024-03-07    350     250.000000
7 2024-03-08    500     307.142857
8 2024-03-09    450     342.857143
9 2024-03-10    600     407.142857

In [16]:
#Q11

import pandas as pd

def add_weekday_column(df):
    df['Date'] = pd.to_datetime(df['Date'])
    df['Weekday'] = df['Date'].dt.day_name()
    return df
data = {'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']}
df = pd.DataFrame(data)
df_with_weekday = add_weekday_column(df)

print(df_with_weekday)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

In [17]:
#Q12

import pandas as pd

def filter_by_date_range(df):
    df['Date'] = pd.to_datetime(df['Date'])
    filtered_df = df[(df['Date'] >= '2023-01-01') & (df['Date'] <= '2023-01-31')]
    return filtered_df
data = {'Date': ['2022-12-30', '2023-01-01', '2023-01-15', '2023-01-31', '2023-02-01'],
        'Value': [100, 200, 300, 400, 500]}
df = pd.DataFrame(data)
filtered_df = filter_by_date_range(df)

print(filtered_df)

        Date  Value
1 2023-01-01    200
2 2023-01-15    300
3 2023-01-31    400

In [ ]:
#Q13

""" The first and foremost necessary library that needs to be imported to use the basic functions of Pandas is: import pandas as pd """